<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'log.css' %}" >
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="{% static 'index.js' %}"></script>     
    </head>
    <body>
    
     <nav class="navbar navbar-expand-lg navbar-light fixed-top">
    <a class="navbar-brand mb-0 h1" href="#"><span class="navtexthead">GroupUP</span></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse " id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
            <a class="nav-link" href="/"><span class="navtext">Home</span><span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/login"><span class="navtext">Login</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/signup"><span class="navtext">Register</span></a>
        </li>
        </ul>
        </form>
    </div>
    </nav>
{% load bootstrap3 %}
<div class="container boxy fadein">
<h2>Login</h1>

<form method="post">
{% csrf_token %}
{% bootstrap_form form %}
<input type="submit" class="btn btn-default buttons " value="Login">

</form>

</div>
<svg class="wave fixed-bottom" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
  <path fill="#00B0FF" fill-opacity="1" d="M0,160L40,149.3C80,139,160,117,240,122.7C320,128,400,160,480,186.7C560,213,640,235,720,213.3C800,192,880,128,960,90.7C1040,53,1120,43,1200,42.7C1280,43,1360,53,1400,58.7L1440,64L1440,320L1400,320C1360,320,1280,320,1200,320C1120,320,1040,320,960,320C880,320,800,320,720,320C640,320,560,320,480,320C400,320,320,320,240,320C160,320,80,320,40,320L0,320Z"></path>
</svg>
   </body>
</html>