
body{
    background:linear-gradient(135deg, #17ead9 0%,#6078ea 100%);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height:70vh;
    width: 100%;
    border-color: #0470dc;
    border-bottom: 2px solid;
    
}

.maintext{
    margin-top: 300px;
    font-size: 60px;
    font-weight: 700;
    text-align: center;
    color: #fff;
}
.maintext .reglink{
    border-radius: 60px;
    border-style: solid;
    border-width: 3px;
    border-color: #fff;
    font-size: 25px;
    padding:8px 20px ;
    color: #fff;
    text-decoration: none;
    transition: 500ms;
    z-index: 10;
}
.maintext .reglink:hover{
    border-radius: 60px;
    font-size: 26px;
    padding:10px 24px ;
    color: black;
    background-color: #fff;
    
}
.box-area{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 355px;
    background:linear-gradient(135deg, #17ead9 0%,#6078ea 100%);
    overflow: hidden;
    z-index: -10;
    box-shadow: 
        inset 10px -10px 15px -20px white; 
        

}
.box-area li{
    position: absolute;
    display: block;
    list-style: none;
    width: 25px;
    height: 25px;
    background: rgba(255, 255, 255, 0.3);
    animation: animate 20s linear infinite;
    bottom: -150px;
    
}
.box-area li:nth-child(1){
    left: 86%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}
.box-area li:nth-child(2){
    left: 12%;
    width: 30px;
    height: 30px;
    animation-delay: 1.5s;
    animation-duration: 10s;
}
.box-area li:nth-child(3){
    left: 76%;
    width: 100px;
    height: 100px;
    animation-delay: 5.5s;
}
.box-area li:nth-child(4){
    left: 70%;
    width: 150px;
    height: 150px;
    animation-delay: 5.5s;
    animation-duration: 15s;
}
.box-area li:nth-child(5){
    left: 65%;
    width: 40px;
    height: 40px;
    animation-delay: 0s;
}
.box-area li:nth-child(6){
    left: 15%;
    width: 110px;
    height: 110px;
    animation-delay: 3.5s;
    animation-duration: 15s;
}
.box-area li:nth-child(7){
    left: 35%;
    width: 30px;
    height: 30px;
    animation-delay: 3.5s;
    animation-duration: 8s;
}
.box-area li:nth-child(8){
    left: 45%;
    width: 90px;
    height: 90px;
    animation-delay: 3.5s;
    animation-duration: 10s;
}
@keyframes animate{
    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
    }
    100%{
        transform: translateY(-1000px) rotate(360deg);
        opacity: 0;
    }
}

@keyframes transitionin{
    from {
        opacity: 0;
        transform: rotateX(-60deg);
    }
    to{
        opacity: 1;
        transform: rotateX(0deg);
    }
}
.fadein{
    animation: transitionin 1s;
}